* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: 'SF Pro Text', 'JetBrainsMono Nerd Font Propo', sans-serif;	
    font-size: 13.5px;
    font-weight: bold;
    border-radius: 0px;
}

window#waybar {
    /* background-color: #4C565E; */
    background-color: rgba(38, 48, 57, 0.28);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

/*
#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
*/

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    background-color: #6cbde9;
    color: #323d49;
}
#workspaces button.empty {
    color: #e8eaed;
}

#workspaces button.empty.active{
   background-color: #6cbde9;
   color: #323d49;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-media,
#power-profiles-daemon
{
    padding: 0 15px;
    color: #ffffff;
    margin: 0 5px; }

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #52595f;
}

#battery {
    background-color: #52595f;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #52595f;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #52595f;
}

#network {
    background-color: #52595f;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #52595f;
    color: #FFFFFF;
}

#pulseaudio.muted {
    background-color: #52595f;
    color: #FFFFFF;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}



